<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 32

The Breast Cancer Data was loaded into the data and target variables.


All data was splitted into train and test sets:

    train set: X_train, y_train

    test set: X_test, y_test

Find the distribution of target, y_train and y_test arrays (in percent).

In response, print the result to the console as shown below.


Tip: You can use np.unique(): https://numpy.org/doc/stable/reference/generated/numpy.unique.html


Expected result:


    target :[0.37 0.63]
    y_train:[0.39 0.61]
    y_test :[0.31 0.69]

In [1]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
 
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 200)
np.set_printoptions(precision=2, suppress=True, linewidth=100)

In [4]:
data_raw = load_breast_cancer()
data = data_raw['data']
target = data_raw['target']
dataa = np.c_[data,target]
df = pd.DataFrame(dataa)
df

        0      1       2       3        4   ...      26      27      28       29   30
0    17.99  10.38  122.80  1001.0  0.11840  ...  0.7119  0.2654  0.4601  0.11890  0.0
1    20.57  17.77  132.90  1326.0  0.08474  ...  0.2416  0.1860  0.2750  0.08902  0.0
2    19.69  21.25  130.00  1203.0  0.10960  ...  0.4504  0.2430  0.3613  0.08758  0.0
3    11.42  20.38   77.58   386.1  0.14250  ...  0.6869  0.2575  0.6638  0.17300  0.0
4    20.29  14.34  135.10  1297.0  0.10030  ...  0.4000  0.1625  0.2364  0.07678  0.0
..     ...    ...     ...     ...      ...  ...     ...     ...     ...      ...  ...
564  21.56  22.39  142.00  1479.0  0.11100  ...  0.4107  0.2216  0.2060  0.07115  0.0
565  20.13  28.25  131.20  1261.0  0.09780  ...  0.3215  0.1628  0.2572  0.06637  0.0
566  16.60  28.08  108.30   858.1  0.08455  ...  0.3403  0.1418  0.2218  0.07820  0.0
567  20.60  29.33  140.10  1265.0  0.11780  ...  0.9387  0.2650  0.4087  0.12400  0.0
568   7.76  24.54   47.92   181.0  0.05263  ...  0.0000  0.0000  0.2871  0.07039  1.0

[569 rows x 31 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    data, 
    target, 
    random_state=40, 
    test_size=0.25
)

In [7]:
for name, array in zip(['target', 'y_train', 'y_test'], [target, y_train, y_test]):
    print(f'{name.ljust(7)}:{np.unique(array, return_counts=True)[1] / len(array)}')

target :[0.37 0.63]
y_train:[0.39 0.61]
y_test :[0.31 0.69]