<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 5

The following df DataFrame is given:


      size  color  gender  price  weight bought
    0   XL    red  female  199.0   500.0    yes
    1    L  green    male   89.0   450.0     no
    2    M   blue     NaN    NaN   300.0    yes
    3  NaN  green  female  129.0     NaN     no
    4    M    red  female   79.0   410.0    yes
    5    M  green    male   89.0     NaN     no


Using the scikit-learn package and the SimpleImputer class, fill in the missing values for the size column with the most frequent value of this column.

Assign changes to the df DataFrame. In response, print the df DataFrame to the console as shown below.


Tip: More about the SimpleImputer class: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html


Expected result:


      size  color  gender  price  weight bought
    0   XL    red  female  199.0   500.0    yes
    1    L  green    male   89.0   450.0     no
    2    M   blue     NaN    NaN   300.0    yes
    3    M  green  female  129.0     NaN     no
    4    M    red  female   79.0   410.0    yes
    5    M  green    male   89.0     NaN     no

In [3]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [4]:
data = {'size':['XL','L','M',np.nan,'M','M'],
        'color':['red','green','blue','green','red','green'],
        'gender':['female','male',np.nan,'femele','female','male'],
        'price':[199,89,np.nan,129,79,89],
        'weight':[500,450,300,np.nan,410,np.nan],
        'bought':['yes','no','yes','no','yes','no']}
df = pd.DataFrame(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  femele  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [5]:
impute = SimpleImputer(missing_values = np.nan , strategy = 'most_frequent')
df[['size']]= impute.fit_transform(df[['size']])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3    M  green  femele  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no